M Abbas Resume' 2022.aux
M Abbas Resume' 2022.fls
M Abbas Resume' 2022.out
M Abbas Resume' 2022.xdv
M Abbas Resume' 2022.synctex
M Abbas Resume' 2022.fdb_latexmk
M Abbas Resume' 2022.log
M Abbas Resume' 2022.synctex.gz
